<section class="header">
    <h2 class="title">A simple shell provision generator</h2>

    <a class="button button-primary" href="<%= new_provision_path %>">Start here</a>

    <div class="value-props row">

        <div class="four columns value-prop">
            <%= image_tag('platform.png', class: 'value-img') %>
            Search or create platforms
        </div>

        <div class="four columns value-prop">
            <%= image_tag('package.png', class: 'value-img') %>
            Search or create a package, then select as many as you need
        </div>

        <div class="four columns value-prop">
            <%= image_tag('script.png', class: 'value-img') %>
            Save your provision script, then use curl or other tool to download it
        </div>
    </div>
</section>