/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require normalize
 *= require skeleton
 *= require custom
 *= require_self
 */

body {
    padding-top: 70px;
}

.error {
    color: #EE1B53;
}

.warning {
    color: #EE4C1B;
}

.info {
    color: #1BBDEE;
}

.success {
    color: #1BEEB6;
}

.hide {
    display: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

label {
    font-weight: lighter;
}

.platform {
    cursor: pointer;
}

.full-width {
    width: 100%;
}

h4 {
    -webkit-margin-after: 0;
}

.avatar {
    border: 1px solid rgb(209, 209, 209);
    border-radius: 50px;
}